{% load static %}
<!doctype html>
<html>
    <head>
        <title>Tasks</title>
        <link rel="stylesheet" href="{% static 'css/tether.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/tether.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </head>
    <body>
        <div id="content">
            <h1>Tasks API Frontend</h1>
            <hr />
            <b>Examples</b>
            <div id="examples">
                <button class="btn btn-sm btn-primary" data-endpoint="/list/all" data-method="GET">Get All Lists (GET)</button>
                <button class="btn btn-sm btn-primary" data-endpoint="/card/all" data-method="GET">Get All Cards (GET)</button>
                <button class="btn btn-sm btn-primary" data-endpoint="/list/:listId/cards">Get Cards by List ID (GET)</button>
                <button class="btn btn-sm btn-primary" data-endpoint="/list" data-data="title">Create a List (POST)</button>
                <button class="btn btn-sm btn-primary" data-endpoint="/card" data-data="listId,title,description">Create a Card (POST)</button>
                <button class="btn btn-sm btn-primary" data-endpoint="/editlist/:listId" data-data="title,order">Edit a List (POST)</button>
                <button class="btn btn-sm btn-primary" data-endpoint="/card/:cardId" data-data="title,description,listId">Edit a Card (POST)</button>
                <button class="btn btn-sm btn-primary" data-endpoint="/list" data-data="listId">Delete a List (DELETE)</button>
                <button class="btn btn-sm btn-primary" data-endpoint="/card" data-data="cardId">Delete a Card (DELETE)</button>
            </div>
            <hr />
            <div class="form-group">
                <label>Endpoint Path</label>
                <input id="url" type="text" placeholder="ex: /editlist/5" class="form-control" />
            </div>
            <div class="form-group">
                <label>Parameters</label>
                <div id="param-list">
                    <div class="param input-group">
                        <input type="text" class="key form-control" placeholder="Key" />
                        <input type="text" class="value form-control" placeholder="Value" />
                        <span class="input-group-btn">
                            <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                        </span>
                    </div>
                </div>
                <button id="add-param" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Add Parameter</button>
            </div>
            <div id="request">
                <button id="GET" class="btn btn-success">GET</button>
                <button id="POST" class="btn btn-warning">POST</button>
                <button id="DELETE" class="btn btn-danger">DELETE</button>
            </div>
            <hr />
            <b>Output</b>
            <pre id="output">API response data will appear here!</pre>
        </div>
    </body>
</html>
